<%- include("partials/header.ejs") %>
    <div class="container mt-5">
        <h1 class="display-4">Welcome to BlogIT</h1>
        <div>
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
                <div class="col p-4 pb-0 d-flex flex-column position-static">

                    <p class="lead text-secondary">
                        <%= home %>
                    </p>

                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="" height="250" src="/images/home-page.jpg" alt="home-image">
                </div>
            </div>
        </div>

    </div>
    <%blogs.slice().reverse().forEach((blog)=> {%>
        <div class="post p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-tertiary">
            <div>
                <h2 class="blog-title">
                    <%= blog.title %>
                </h2>
                <p class="blog-post-meta">
                    <%= blog.date %> by
                        <a href="/author/<%= blog.author.id %>" class="text-secondary fst-italic">
                            <%= blog.author.name %>
                        </a>
                </p>
                <p class="lead my-3">
                    <% if(blog.body.length>100){%>
                        <%= blog.body.substr(0,100)%> ...
                            <% }else{ %>
                                <%=blog.body %>
                                    <% } %>
                </p>
                <p class="lead mb-0 fw-medium"><a href="/blogs/<%= blog.title %>"
                        class="link-dark icon-link icon-link-hover link-underline-opacity-0 link-underline-opacity-75-hover">Read
                        More <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                        </svg></a></p>
            </div>
        </div>

        <% }); %>

            <%- include("partials/footer.ejs") %>